.text {
  width:100%;
  font-size: 26px;
  border-radius: 12px;
}

.content{
	  background-color: #f7e9a1;
	    width: 100%;
	    	  margin-top: 270px;
	    	 font-size: 20px;
	    box-shadow: 0px -2px 11px 4px black;
	      color: black;



}
.wrap {
  width: 100%;
  	  background-color: #f7e9a1;

}
body{
	margin: 0px !important;
	background-color: #3d2222;
}

.outer{
	overflow-x: hidden;
	  background-image: url(../pattern.png);
	  background-repeat: no-repeat;
	  background-size: contain; 
}

h1{
	font-family: sans-serif;
	background-color: #502020;
	display: inline-block;
	padding: 5px 15px;
	color: #f0f0f0;
	font-weight: 300;
	border: 2px solid #502020;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 24px;
}

p{
	background-color: #faf0c0;
	box-shadow:inset 1px 1px 9px black;
	padding: 15px;
	border-left: 18px solid #502020;
	font-size: 15px;
	font-family: sans-serif;
	margin-bottom: 0px;
	
}
a{
	color: #502020;
	text-decoration: none;
}